{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 29.247,
    "longitude": 113.8157,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "我的家",
    "time_zone": "Asia/Shanghai",
    "external_url": null,
    "internal_url": null,
    "currency": "CNY",
    "country": "CN",
    "language": "zh-Hans",
    "radius": 100
  }
}